<div style="background-color: #25373e;" style="">
  <br>
  <br>
  <div class="container text-center" style="margin-top: 0px;">
    <hr style="background-color:white; ">
    <br>
    <div class="img-foorter">
    <%= image_tag("imageedit_6_4185851809.png")%>
    </div>
    <br>
    <p style="color: white;">info@flyaerorental.com</p>
    <br>
    <div class="row">
      <div class="col-sm-4 text-center"><a href="https://www.instagram.com/flyaerorental "><h1 style="color: white;"><i class="fab fa-instagram"></i></h1></a></div>
      <div class="col-sm-4 text-center"><a href="/contacto"><h1 style="color: white;"><i class="fas fa-envelope"></i></h1></a></div>
      <div class="col-sm-4 text-center"><h1 style="color: white;"><i class="fab fa-whatsapp"></i></h1></div>
    </div>
    <br>
    <p style="color: white;"><i class="fas fa-phone"></i> 420-6969 / <i class="fas fa-mobile-alt"></i> 6280-0856</p>
    <br>
    <p style="color: white;"> <a href="/" style="color: white;">Home</a> / <a href="/nosotros" style="color: white;">Nosotros</a> / <a href="/destinos" style="color: white;">Destinos</a>/ <a href="/naves" style="color: white;">Aviones</a> / <a href="/contacto" style="color: white;">Contacto</a></p>
    <br>
    <hr style="background-color:white; ">
  </div>
  <br>
</div>
<div style="">
  <div class="footer">
    <div class="container text-center " style="padding-top: 8px; padding-bottom: 8px;" >
      <a href="http://www.leonardoluxburg.com">
        <%= image_tag "lllogo.png" %>
      </a>
    </div>
  </div>
</div>
