<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/Aviones2.jpg);  background-position: center;">
  <div class="container">
    <h1 style="padding-top: 70px; font-family: 'Bebas Neue', cursive; font-size: 4em;
    ">Aviones</h1>
    <hr style="background-color: white;">
    <p>Contamos con aeronaves y un equipo aeronáutico altamente calificado y confiable, preciso a dar atención de calidad y satisfacer sus necesidades y gustos mas exigentes, proporcionando una experiencia de vuelo segura, confiable y puntual.</p>
    <div class="text-center"><a href="/reservations/new"><p class="btn btn-aero" style="font-size: 20px;">Reserva un Vuelo</p> </a></div>
  </div>
</div>
<div style="padding-top: 100px; padding-bottom: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/avion-rojo.jpg" alt="" style="padding-bottom: 30px; height: auto; width: 100%; padding-top: 30px;">
      </div>
      <div class="col-md-6 text-center">
        <h1 style="color: #25373e;">Cessna T182- Garmin 1000</h1>
        <hr>
        <h5 style="color: #25373e;"><i class="fas fa-users"></i> Capacidad: 5 pasajeros y 1 piloto <br> <br>
          <i class="fas fa-truck-loading"></i> Carga en bodega: 300 Lb <br> <br>
          <i class="fas fa-box"></i> Carga Util: 1500Lb <br> <br>
          <i class="fas fa-tachometer-alt"></i> Velocidad crucero: 145 kts <br> <br>
          <i class="fas fa-stopwatch"></i> Range: 5:00 hrs (650 NM)<br> <br>
          <i class="fas fa-fan"></i> Motor: 1 motor Piston, 300HP</h5>
          <hr>
        </div>
      </div>
    </div>
  </div>
<div style="padding-top: 100px; padding-bottom: 100px; background-color: #25373e;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <h1 style="color: white;">Cessna 206- Garmin 1000</h1>
          <hr style="background-color:white; ">
           <h5 style="color: white;"><i class="fas fa-users"></i> Capacidad: 3 pasajeros y 1 piloto <br> <br>
          <i class="fas fa-truck-loading"></i> Carga en bodega: 200Lb <br> <br>
          <i class="fas fa-box"></i> Carga Util: 1,110 Lb (503 K) <br> <br>
          <i class="fas fa-tachometer-alt"></i> Velocidad de crucero: 130 kts <br> <br>
          <i class="fas fa-stopwatch"></i> Range: 5:00 hrs (650NM)<br> <br>
          <i class="fas fa-fan"></i>Motor: 1 motor Piston, 235 HP</h5>
          <hr style="background-color:white; ">
        </div>
        <div class="col-md-6">
          <img src="../assets/avion-azul.jpg" alt="" style="padding-bottom: 30px; height: auto; width: 100%;">
        </div>
      </div>
    </div>
  </div>
<div style="padding-top: 100px; padding-bottom: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/avion-blanco.png" alt="" style="padding-bottom: 30px; height: auto; width: 100%; padding-top: 40px;" >
      </div>
      <div class="col-md-6 text-center">
        <h1 style="color: #25373e;">Cessna T303</h1>
        <hr>
        <h4 style="color: #25373e;"><i class="fas fa-users"></i> Capacidad: 5 pasajeros y 1 piloto <br> <br>
          <i class="fas fa-truck-loading"></i> Carga en bodega: 600 Lb <br> <br>
          <i class="fas fa-box"></i> Carga Util: 1600 lb <br> <br>
          <i class="fas fa-tachometer-alt"></i> Velocidad Crucero: 160 kts <br> <br>
          <i class="fas fa-stopwatch"></i> Range: 6:00 hrs (700 NM)<br> <br>
          <i class="fas fa-fan"></i>Motores: 2 motores Piston, 250 HP</h4>
          <hr>
        </div>
      </div>
    </div>
  </div>

