<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.mercuryjets.com/wp-content/uploads/2016/08/Legacy-500-corporate-jet.jpg);  background-position: center;">
    <h1 style="padding-top: 70px;">Vuela con Nostros<h1>
</div>

