<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/destinos.jpeg);  background-position: center;">
  <div class="container">
    <h1 style="padding-top: 70px; font-family: 'Bebas Neue', cursive; font-size: 4em;">Destinos</h1>
    <hr style="background-color: white;">
    <p>Fly AeroRental ofrece vuelos chárter con un servicio altamente personalizado a mas de 30 destinos en el territorio nacional para hacer de sus vuelos de negocios, de aventura y de descanso una realidad.</p>
    <div class="text-center"><a href="/reservations/new"><p class="btn btn-aero" style="font-size: 20px;">Reserva un Vuelo</p> </a></div>
  </div>
</div>
<br>
<div class="container" style="padding-top: 30px; padding-bottom: ;">
  <div class="text-center">
    <h1 style="color: #25373e;">Todos los destinos</h1>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="color: #25373e;">CIUDAD</th>
        <th scope="col" style="color: #25373e;">AEROPUERTO</th>
        <th scope="col" style="color: #25373e;">CÓDIGO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Albrook</td>
        <td>Marcos A Gelabert International </td>
        <td>MPMG</td>
      </tr>
      <% @destinos.each do |destination| %>
      <tr>
        <td><%= destination.name %></td>
        <td><%= destination.airport %></td>
        <td><%= destination.code %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<br>

