<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/destinos.jpeg);  background-position: center;">
  <div class="container">
  <h1 style="padding-top: 70px; font-family: 'Bebas Neue', cursive; font-size: 4em;">Destinos</h1>
  <hr style="background-color: white;">
  <p>Fly AeroRental ofrece vuelos chárter con un servicio altamente personalizado a mas de 30 destinos en el territorio nacionalpara hacer de sus vuelos de negocios, de aventura y de descanso una realidad.</p>
  <div class="text-center"><a href="/reservations/new"><p class="btn btn-aero" style="font-size: 20px;">Reserva un Vuelo</p> </a></div>
  </div>
</div>
<br>
<div class="container" style="padding-top: 30px; padding-bottom: ;">
  <div class="text-center">
    <h1 style="color: #25373e;">Todos los destinos</h1>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="color: #25373e;">CIUDAD</th>
        <th scope="col" style="color: #25373e;">AEROPUERTO</th>
        <th scope="col" style="color: #25373e;">CÓDIGO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bocas Del Toro</td>
        <td>Bocas Del Toro</td>
        <td>MPBO</td>
      </tr>
      <tr>
        <td>Changuinola</td>
        <td>Cap Manuel Nino International</td>
        <td>MPCH</td>
      </tr>
      <tr>
        <td>David</td>
        <td>Enrique Malek International</td>
        <td>MPDA</td>
      </tr>
      <tr>
        <td>Howards</td>
        <td>Howard Afb</td>
        <td>MPHO</td>
      </tr>
      <tr>
        <td>Jaque</td>
        <td>Jaque</td>
        <td>MPHO</td>
      </tr>
      <tr>
        <td>La Palma</td>
        <td>Cap Ramon Xatruch</td>
        <td>MPLP</td>
      </tr>
      <tr>
        <td>Panama</td>
        <td>Marcos A Gelabert International </td>
        <td>MPMG</td>
      </tr>
      <tr>
        <td>Panama City</td>
        <td>Tocumen International</td>
        <td>MPTO</td>
      </tr>
      <tr>
        <td>Rio Hato</td>
        <td>Scarlett Martinez International</td>
        <td>MPSM</td>
      </tr>
      <tr>
        <td>Santiago</td>
        <td>Ruben Cantu</td>
        <td>MPSA</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<div style="background-color: #25373e;" style="">
  <br>
  <br>
  <div class="container text-center" style="margin-top: 0px;">
    <hr style="background-color:white; ">
    <br>
    <div class="img-foorter">
    <%= image_tag("imageedit_6_4185851809.png")%>
    </div>
    <br>
    <p style="color: white;">contacto@flyaerorental.com</p>
    <br>
    <div class="row">
      <div class="col-sm-4 text-center"><h1 style="color: white;"><i class="fab fa-instagram"></i></h1></div>
      <div class="col-sm-4 text-center"><h1 style="color: white;"><i class="fab fa-facebook-f"></i></h1></div>
      <div class="col-sm-4 text-center"><h1 style="color: white;"><i class="fab fa-twitter"></i></h1></div>
    </div>
    <br>
    <p style="color: white;"><i class="fas fa-phone"></i> 420-6969 / <i class="fas fa-mobile-alt"></i> 6280-0856</p>
    <br>
    <p style="color: white;">Home / Nosotros / Destinos / Aviones / Contacto</p>
    <br>
    <hr style="background-color:white; ">
  </div>
  <br>
</div>
