<div class="banner" style="background-image: url(https://dv1cm5skpbtk9.cloudfront.net/media/images/AMgmt_Hero2_1440x1098_2x.original.width-1920.jpg);  background-position: center;">
  <div class="container">
    <div class="hidden-xs hidden-sm">
      <%= image_tag("ARLOGO2.png")%>
    </div>
    <h2 style="">COMING SOON</h2>
    <hr style="background-color: #25373e;; ">
    <h4>Airplane and Helicopter Flights</h4>
  </div>
</div>
