<div class="banner" style="background-image: url(https://aircharterservice-globalcontent-live.cphostaccess.com/images/usa/private/205269_beechcraft20king20air20300_35020ex20pic_tcm61-4278.jpg);  background-position: center;">
  <div>
    <div class="hidden-xs hidden-sm">
      <%= image_tag("logoaero.png")%>
    </div>
    <h2 style="">COMING SOON</h2>
    <hr style="background-color:white; ">
    <h4>Airplane and Helicopter Flights</h4>
  </div>
</div>
