<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://dv1cm5skpbtk9.cloudfront.net/media/images/AMgmt_Hero2_1440x1098_2x.original.width-1920.jpg);  background-position: center;">
  <div>
    <br>
    <br>
    <div class="hidden-xs hidden-sm container">
       <%= image_tag("ARLOGO2.png")%>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 100px; padding-bottom: 100px;">
  <div class="text-center">
    <h1 style="color: #25373e;">ALQUILER DE AVIONES PRIVADOS <br>
    EN PANAMA</h1>
    <hr>
    <p>Aerorental ofrece servicios de alquiler de aviones privados, taxi aéreo y vuelos ejecutivos desde Bocas Del Toro y hacia Bocas Del Toro. Con acceso a más de 5,000 aviones privados en todo el mundo, no hay vuelo que sea muy grande o pequeño para nosotros.
      <br>
      <br>
      Con tan solo pocas horas, aerorental puede tener lista cualquier clase de aeronave desde Bocas Del Toro o hacia Bocas Del Toro sin importar el número de pasajeros.
    </p>
    <hr>
    <div class="text-center"><a href="/reservations/new"><p class="btn btn-aero" style="font-size: 20px;">Reserva un Vuelo</p> </a></div>
  </div>
</div>
<div style="padding-top: 100px; padding-bottom: 100px; background-color: #25373e;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/avion-blanco.png" alt="" style=" padding-top: 15px;  padding-bottom: 30px; height: auto; width: 100%;">
      </div>
      <div class="col-md-6">
        <h1 style="color: white;">Flota Aerorental</h1>
        <hr style="background-color:white; ">
        <p style="color: white;">La flota aera de aerorental ha sido cuidadosamente seleccionada pensando primero en la seguridad. Nuestra flota principalmente de dos motores y nuestro nuevo Kodiak Quest Turbo-Prob, diseñado para la capacidad adecuada y el mejor rendimiento de su clase, se han ganado una reputación por su excelente seguridad y confiabilidad.</p>
        <hr style="background-color:white; ">
        <a href="/naves"><p style="color: white;" class="button button1">Ver más</p></a>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-top: 100px; padding-bottom: 100px;">
  <div class="row">
    <div class="col-md-6" style="padding-bottom: 15px;">
      <div class="card" >
        <img class="card-img-top" src="https://c64djon8lb.execute-api.us-east-1.amazonaws.com/prod/q85-w1920/aircraft/aircraft-scenes/pilots-3-109016225-v1.jpg?djZEq7_skBtixuFnUEB4TU1HZxH5aif6" style="height: auto; width:100%; max-height: 319px;" alt="Card image cap">
        <div class="card-body text-center">
          <h2 class="card-title">Gane tranquilidad</h2>
          <hr>
          <p class="card-text">Cada decisión que se toma se toma pensando en su seguridad. Si bien algunos pueden decir que se preocupan por la seguridad, nuestras acciones demuestran nuestras prioridades con más fuerza que cualquier palabra.</p>
          <hr>
        </div>
        <div style="background-color: #25373e; color: white;" class="text-center"><a style = "color: white;" href="/nosotros"> <p style="padding-top: 15px; max-height: 319px;">Ver más</p></a></div>
      </div>
    </div>
    <div class="col-md-6" style="padding-bottom: 15px;">
     <div class="card">
      <img class="card-img-top" src="https://flyxo.com/data/com/webproduct/master@pro/static/img/home-content-4.0d0f9ab9f9cf73194f318a4f2eb94912.webp" style="height: ; width:100%;" alt="Card image cap">
      <div class="card-body text-center">
       <h2 class="card-title">Haz que el tiempo vuele</h2>
       <hr>
       <p class="card-text">Aerorental permite a los viajeros de negocios y de placer aprovechar al máximo su tiempo en el aire y en tierra. Ofrecemos comodidad, confiabilidad y eficiencia, desde la reserva hasta el aterrizaje.</p>
       <hr>
     </div>
     <div style="background-color: #25373e; color: white;" class="text-center"><a style = "color: white;" href="/nosotros"><p style="padding-top: 15px;" clas>Ver más</p></a></div>
   </div>
 </div>
</div>
</div>
<div style="background-color: #25373e;">
  <hr style="background-color:white; ">
  <div class="text-center container" style="padding-top: 50px; padding-bottom: 50px;">
    <hr style="background-color:white; ">
    <br>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/RBJ_PNBuI3U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <br>
    <hr style="background-color:white; ">
  </div>
</div>
<br>
<div class="container" style="padding-top: 30px; padding-bottom: ;">
  <div class="text-center">
    <h1 style="color: #25373e;">Destinos en Panamá</h1>
  </div>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="color: #25373e;">CIUDAD</th>
        <th scope="col" style="color: #25373e;">AEROPUERTO</th>
        <th scope="col" style="color: #25373e;">CÓDIGO DE AEROPUERTO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bocas Del Toro</td>
        <td>Bocas Del Toro</td>
        <td>MPBO</td>
      </tr>
      <tr>
        <td>Changuinola</td>
        <td>Cap Manuel Nino International</td>
        <td>MPCH</td>
      </tr>
      <tr>
        <td>David</td>
        <td>Enrique Malek International</td>
        <td>MPDA</td>
      </tr>
      <tr>
        <td>Howards</td>
        <td>Howard Afb</td>
        <td>MPHO</td>
      </tr>
      <tr>
        <td>Jaque</td>
        <td>Jaque</td>
        <td>MPHO</td>
      </tr>
      <tr>
        <td>La Palma</td>
        <td>Cap Ramon Xatruch</td>
        <td>MPLP</td>
      </tr>
      <tr>
        <td>Panama</td>
        <td>Marcos A Gelabert International </td>
        <td>MPMG</td>
      </tr>
      <tr>
        <td>Panama City</td>
        <td>Tocumen International</td>
        <td>MPTO</td>
      </tr>
      <tr>
        <td>Rio Hato</td>
        <td>Scarlett Martinez International</td>
        <td>MPSM</td>
      </tr>
      <tr>
        <td>Santiago</td>
        <td>Ruben Cantu</td>
        <td>MPSA</td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
<br>
<div style="background-color: #25373e;" style="">
  <br>
  <br>
  <div class="container text-center" style="margin-top: 0px;">
    <hr style="background-color:white; ">
    <br>
    <div class="img-foorter">
    <%= image_tag("imageedit_6_4185851809.png")%>
    </div>
    <br>
    <p style="color: white;">contacto@flyaerorental.com</p>
    <br>
    <div class="row">
      <div class="col-sm-4 text-center"><h1 style="color: white;"><i class="fab fa-instagram"></i></h1></div>
      <div class="col-sm-4 text-center"><h1 style="color: white;"><i class="fab fa-facebook-f"></i></h1></div>
      <div class="col-sm-4 text-center"><h1 style="color: white;"><i class="fab fa-twitter"></i></h1></div>
    </div>
    <br>
    <p style="color: white;"><i class="fas fa-phone"></i> 420-6969 / <i class="fas fa-mobile-alt"></i> 6280-0856</p>
    <br>
    <p style="color: white;">Home / Nosotros / Destinos / Aviones / Contacto</p>
    <br>
    <hr style="background-color:white; ">
  </div>
  <br>
</div>
