<div class="banner">
  <div>
    <br>
    <br>
    <div class=" container">
      <div class="text-center logo-banner">
        <%= image_tag("ARLOGO1.png") %>
      </div>
      <h1 style="color: #25373e;">¡Tu reserva ha sido creada con éxito!</h1>
      <hr style="">
      <h5 style="color: #25373e;">Gracias por volar con nosotros, pronto nuestro equipo de venta se pondra en contacto para confirmar tu asistencia y respoder cualquier duda que tengas. <a href="/contacto">Contactanos.</a>
      </h5>
      <br>
     <div class="text-center"><a href="/"><p class="btn btn-aero" style="font-size: 20px;">Home</p> </a></div>
    </div>
  </div>
</div>
