<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.wallpapersafari.com/desktop/1920/1080/91/72/uXbIPH.jpg);  background-position: center;">

    <h1 style="padding-top: 70px;">Vuela con Nostros<h1>
</div>
<div class="container">
<div class="row" style="padding-top: 40px;">
  <div class="col-md-2"></div>
  <div class="col-md-8 ">
    <div class="card" style="border-color: #25373e; border-width: 3px;">
      <div style="padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px;  ">
    <br>
    <h1 class="text-center">Reserva tu vuelo</h1>
    <hr>
    <p class="text-center"> Fly AeroRental ofrece vuelos chárter con un servicio altamente personalizado y los mejores planes y pilotos de su clase. Comparte con nosotros la siguiente información para que reservar tu vuelo. </p>
    <hr>
    <br>
    <%= render 'form', reservation: @reservation %>
    <br>
    </div>
  </div>
</div>
  <div class="col-md-2"></div>
</div>
<br>
</div>
<br>
<br>

